<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@600&display=swap" rel="stylesheet">

<style>
         body {
    background: #222D32;
    font-family: 'Gabarito', cursive;
    color:#ECF0F5;
}
  .navbar{
    background: #1A2226 !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 0.3em !important;
  }

  .heading{
    display: flex;
  align-items:center;
  }
  
   .main-img{
    width:1.3em;
    margin-right: 8px;
    margin-left: 5px; 
  }
  .heading:hover{
    cursor: pointer;
  }
  .sub-heading{
    font-size: 1.1em;
    color :white;
    margin-top: 0.4em;

    letter-spacing: 1px;
  }
  
  .i1,.i2{
    border:0px !important;
    border-radius: 0px !important;
}
.btn1{
  border-radius: 0px !important;
}
.login-box {
    margin-top: 4em;
    padding-bottom: 1em;
    padding-top:0.5em;
    height: auto;
    background: #1A2226;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
@media only screen and (max-width:700px){
  .login-box {
  margin-top: 6em;
  }
}
.form-group{
  padding: 0px 1.5em;
}
.i3{
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    margin-bottom: 20px;
padding-left: 0px;
    color: #ECF0F5;
}

.i3 {
    margin-bottom: 40px;
    outline: 0px;
}

.i3:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid #0DB8DE;
    outline: 0;
    background-color: #1A2226;
    color: #ECF0F5;
}

.i3:focus {
    outline: none;
    box-shadow: 0 0 0;
}

label {
    margin-bottom: 0px;
}

.form-control-label {
    font-size: 15px;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 1em;
    margin-top: 1.2em;

}

.btn2 {
    border-color: #0DB8DE;
    color: #0DB8DE;
    border-radius: 0px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn2:hover {
    background-color: #0DB8DE;
    right: 0px;
}

.login-btm {
    float: left;
}

.login-button {
    padding-right: 0px;
    text-align: right;
    margin-bottom: 25px;
}
.form-heading p{
  font-size: 1.5em;
  color:white;
  text-align: left;
  border-bottom: 1px solid #666;
  line-height: 2em;
  
}
.contain-i3{
  margin: 8px 0.8em;
 
}
.info-text{
  display: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler{
  border-color:white;
  font-size: 1em;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to { 
        transform: rotate(360deg);
    }
}
 

 @-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to { 
        -webkit-transform: rotate(360deg);
    }
}

.load {
  display: inline-block;
    width: 16px;
	height: 16px;
  

	border:solid 3px #8822aa;
	border-radius: 50%;
	border-right-color: transparent;
	border-bottom-color: transparent;
	 -webkit-transition: all 0.5s ease-in;
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         1.0s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
    	
    	 transition: all 0.5s ease-in;
    animation-name:             rotate; 
    animation-duration:         1.0s; 
    animation-iteration-count:  infinite;
    animation-timing-function: linear; 
}
</style>
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <div class="heading">
            <img class="main-img " src="images/copy.png" alt="Not Found" />
            <h1 class="sub-heading">Share Text</h1>
            </div>
      
      </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            </ul>
            <form action="/login" method="POST" class="d-flex">
              <input class="form-control me-2 i1" type="input" placeholder="Email or name" aria-label="Email or name" required>
              <input class="form-control me-2 i2" type="password" placeholder="Password" aria-label="Password" required>
              <button class="btn btn-outline-primary btn1" type="submit">Login</button>
            </form>
          </div>
        </div>
      </nav>

<div class="container">

<div class="row">
  
  <div class="col-md-6 col-lg-5  mx-auto login-box g-0 ">
    
        <form class="form1" method="POST" action="/forgot-password" >
          <div class="form-heading">
            <p class="ps-3 mx-auto"> Reset Password </p>
           </div>
            <div class="form-group">
             
                <label class="form-control-label">Please enter your registered email address to recieve password reset link.</label>
               <div class="contain-i3"> <input name="email" type="email" class="form-control i3" required></div> 
            </div>
            <div class="row g-0 me-2 mt-3">

            <div class="col-8 ms-2">
              <p class="ps-5 info-text" style="font-size:0.8em;">s</p>
          
         
            </div>
            <div class="col-3 login-btm login-button ">
              <button type="submit" class="btn btn-outline-primary btn2">Send <span class="load"></span></button>
            </div>
            
          </div>
        </form>
  
</div>
</div>


</div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <script>
      
let load = document.querySelector('.load');
load.style.display = "none";
let form = document.querySelector('.form1');
let infoText = document.querySelector('.info-text');
let info = {
  success : 'Success , If user exist you will recive password reset link on your email shortly.',
  failed: ' Failed , Something went wrong! Try again later.',
  tooManyReq: 'Too many request! Try Again after few minutes.',
  invalid:'Provided email is invalid!'
}
form.addEventListener("submit", function(event) {

  event.preventDefault();
  load.style.display = "inline-block"

  const formData = (new URLSearchParams(new FormData(form))).toString();

// Make a POST request using fetch
fetch('/forgot-password', {
  method: 'POST',
  headers: {
    'Content-Type': 'application/x-www-form-urlencoded',
  },
  body: formData,
})
  .then(response => {
    load.style.display = "none"
    infoText.style.display = "inline-block"
  
    if (response.status === 429) {
      infoText.textContent = info.tooManyReq;
infoText.style.color = '#FFFF99'
}else if(response.status === 500){
  infoText.textContent = info.failed;
infoText.style.color = '#FF9999'
}else if(response.status === 400){
  infoText.textContent = info.invalid;
infoText.style.color = '#FFFF99'
}else{
    return response.json()
}
  }) 
  .then(data => {

   if(data){
    infoText.textContent = info.success;
infoText.style.color = '#99FF99'
   }

  })
  .catch(error => {
 
    load.style.display = "none"
    infoText.style.display = "inline-block"
infoText.textContent = info.failed;
infoText.style.color = '#FF9999'
  });

});

    </script>
</body>
</html>