<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Share Text</title>

  <link rel="stylesheet" href="/bootstrap/bootstrap_4.0.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@600&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
    <style>
        body {
    background: #222D32;
    font-family: 'Roboto', sans-serif;
}

.login-box {
    margin-top: 35px;
    padding-top:0.5em;
    height: auto;
    background: #1A2226;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.login-key {
    margin-top: 3px;
    height: 80px;
    font-size: 65px;
    line-height: 80px;
    background: -webkit-linear-gradient(#27EF9F, #0DB8DE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.login-title {
    margin-top: 6px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;

    font-weight: bold;
    color: #ECF0F5;
}

.login-form {
    margin-top: 25px;
    text-align: left;
}

input[type=text] {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    margin-bottom: 20px;
    padding-left: 0px;
    color: #ECF0F5;
}

input[type=password] {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    padding-left: 0px;
    margin-bottom: 20px;
    color: #ECF0F5;
}

input[type=email] {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    margin-bottom: 20px;
    padding-left: 0px;
    color: #ECF0F5;
}

.form-group {
    margin-bottom: 40px;
    outline: 0px;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid #0DB8DE;
    outline: 0;
    background-color: #1A2226;
    color: #ECF0F5;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0;
}

label {
    margin-bottom: 0px;
}

.form-control-label {
    font-size: 10px;
    color: #6C6C6C;
    font-weight: bold;
    letter-spacing: 1px;
}

.btn-outline-primary {
    border-color: #0DB8DE;
    color: #0DB8DE;
    border-radius: 0px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn-outline-primary:hover {
    background-color: #0DB8DE;
    right: 0px;
}

.login-btm {
    float: left;
}

.login-button {
    padding-right: 0px;
    text-align: right;
    margin-bottom: 25px;
}

.login-text {
    text-align: left;
    padding-left: 0px;
    color: #A2A4A4;
}

.loginbttm {
    padding: 0px;
}

.sub-heading{
    font-family: 'Gabarito', cursive;letter-spacing: 1px;margin-left: 0em;
}


.error {
    border-bottom: 2px solid red !important;
}

.main-img {
        margin-right: 8px;
        width: 1.2em !important;
        margin-bottom: 0.4em;
      }

    

.sub-heading {
  font-family: "Gabarito", cursive;
  letter-spacing: 1px;
  margin-left: 0em;
  font-size: 1em;

}
.heading {
        color: white;
      }

      .heading:hover {
        color: rgb(187, 187, 187);
        opacity: 0.9;

        cursor: pointer;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
      }
      .lb1 {
        max-width: 90%;
        margin: 2.5em auto;
        padding-left: 1em;
      }

      .main-heading {
        margin-top: 1.3em;
        font-size: 1.4em;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
      }

      @media only screen and (min-width: 768px) {
        .lb1 {
          max-width: fit-content !important;
        }
        .main-heading {
          margin-top: 2.5em;
        }
      }
      @media only screen and (min-width: 990px) and (max-width:1010px) {

.middle-box{
  margin-left: -0em !important;
  margin-right: -0em !important;
}        

    }
.signup,.login{
    cursor:pointer;
}
    </style>
</head>
<body>
    
    <div class="container-fluid">
       
        <div class="row justify-content-md-around mt-0 mt-md-3">
            <div class="col-12 col-md-3 col-lg-3 main-heading mb-3 mb-md-0 d-flex justify-content-center align-items-start" >
                <div class="heading d-flex justify-content-center align-items-center">
                    <img class="main-img " src="images/copy.png" alt="Not Found" />
                    <h1 class="sub-heading">Share Text</h1>
                
                </div>
            </div>

            <div class="col-12 col-md-5 col-lg-4 login-box mb-3 ml-md-5 mr-md-3 middle-box">
                <div class="col-lg-12 login-key">
                    <i class="fa fa-key" aria-hidden="true"></i>
                </div>
                <div class="col-lg-12 login-title">
                   Sign Up
                </div>

                <div class="col-lg-12 login-form">
                    <div class="col-lg-12 login-form">
                        <form method="POST" action="/signup" >
                            <div class="form-group">
                                <label class="form-control-label">USERNAME</label>
                                <input name="username" type="text" class="form-control mb-0" required>
                                <label class="uerror small text-white text-muted mb-0 pb-0 d-none"></label>
                           
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Email</label>
                                <input name="email" type="email" class="form-control mb-0" required>
                                <label class="eerror small text-white text-muted mb-0 pb-0 d-none"></label>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">PASSWORD</label>
                                <input name="password" type="password" class="form-control mb-0" required>
                                <label class="perror small text-white text-muted mb-0 pb-0 d-none"></label>
                            </div>
                           
                            <div class="col-lg-12 loginbttm">
                                <div class="col-lg-6 login-btm login-text">
                                    <!-- Error Message -->
                                </div>
                                <div class="col-lg-6 login-btm login-button">
                                    <button type="submit" class="btn btn-outline-primary signup">Sign Up<span class="load"></span></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
             
            </div>
            <div class="col-12 col-md-3 col-lg-3 mx-lg-4 px-2 px-md-2 mr-md-0 px-lg-3 px-xl-3  mb-3 mb-md-0 login-box lb1"
            style="height: fit-content"  >
               
                    <p style="text-decoration: underline;text-underline-offset: 0.5em; line-height: 3em;color:white" > Already have an account ? <span class="d-inline-block m-2 btn btn-sm btn-primary  login" >Login</span></p>
                    
             
              
                </div>
         
        </div>
    
<style>

/* spining circle */

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to { 
        transform: rotate(360deg);
    }
}
 

 @-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to { 
        -webkit-transform: rotate(360deg);
    }
}

.load {
    width: 16px;
	height: 16px;
    margin: auto 10px;

	border:solid 3px #8822aa;
	border-radius: 50%;
	border-right-color: transparent;
	border-bottom-color: transparent;
	 -webkit-transition: all 0.5s ease-in;
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         1.0s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
    	
    	 transition: all 0.5s ease-in;
    animation-name:             rotate; 
    animation-duration:         1.0s; 
    animation-iteration-count:  infinite;
    animation-timing-function: linear; 
}

</style>
      
<script>
 
   
       let login = document.querySelector('.login');
    login.addEventListener('click',()=>{
        window.location.href="/login";
    })
    let logintext = document.querySelector(".login-text");
    let heading = document.querySelector(".heading");
    heading.addEventListener("click", function () {
       window.open('/',"_self")
    });

    document.addEventListener("DOMContentLoaded", function() {
           
    let load = document.querySelector(".load");
    load.style.display ="none";
    const form = document.querySelector("form");
    const usernameInput = form.querySelector('input[name="username"]');
    const emailInput = form.querySelector('input[name="email"]');
    const passwordInput = form.querySelector('input[name="password"]');
    const errors = {
        username: "username must be at least 5 characters.",
        email: "Please enter a valid email address.",
        password: "Password must be at least 6 characters.",
        nametaken:"Username already taken",
        emailtaken:"Email already taken"
    }

    let isFetching = false;

    form.addEventListener("submit", function(event) {
       
        event.preventDefault(); // Prevent form submission
      
        
        let hasError = false;

      
            if (isFetching) {
    console.log("A fetch request is already in progress. Please wait.");
load.style.display ="inline-block";
    return;
  } 


        // Reset previous error styles
        usernameInput.classList.remove("error");
        emailInput.classList.remove("error");
        passwordInput.classList.remove("error");
        usernameInput.nextElementSibling.classList.add("d-none");
        emailInput.nextElementSibling.classList.add("d-none");
        passwordInput.nextElementSibling.classList.add("d-none");

        // Validate username (minimum 5 characters)
        if (usernameInput.value.length < 5) {
            usernameInput.classList.add("error");
            usernameInput.nextElementSibling.classList.remove("d-none");
            usernameInput.nextElementSibling.innerHTML = errors.username;
            hasError = true;
           
        }

        // Validate email format
        const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        if (!emailPattern.test(emailInput.value)) {
            emailInput.classList.add("error");
            emailInput.nextElementSibling.classList.remove("d-none");
            emailInput.nextElementSibling.innerHTML = errors.email;
            hasError = true;
        }

        // Validate password (minimum 6 characters)
        if (passwordInput.value.length < 6) {
            passwordInput.classList.add("error");
            passwordInput.nextElementSibling.classList.remove("d-none");
            passwordInput.nextElementSibling.innerHTML = errors.password;
            hasError = true;
        }
  
    

        if (!hasError) {
            load.style.display ="inline-block";
            isFetching = true;
 
fetch("/signup", {
    method: "POST",
    headers: {
    'Content-Type': 'application/x-www-form-urlencoded' // Set the Content-Type header
  },
  body: new URLSearchParams(new FormData(form)).toString()
}).then(res => res.json()).then((data)=>{
    isFetching = false;
    load.style.display ="none";

    if(data.message == "Username already taken"){
        usernameInput.classList.add("error");
        usernameInput.nextElementSibling.classList.remove("d-none");
        usernameInput.nextElementSibling.innerHTML = errors.nametaken;
        console.log(data);
    }else if(data.message == "Email already taken"){
        emailInput.classList.add("error");
        emailInput.nextElementSibling.classList.remove("d-none");
        emailInput.nextElementSibling.innerHTML = errors.emailtaken;
        console.log(data);
    }else if(data.message=='Your account has been suspended'){
        logintext.textContent = data.message;

    }else if(data.message=='Success'){
        
       window.location.href = "/verify-email";

    }else if(data.message=="Fail to Send Email"){
        window.location.href = "/verify-email";
    }else{
       logintext.textContent = "Something went wrong. Please try again later."

    }

}).catch((err)=>{
    isFetching = false;
    load.style.display ="none";

})


        }
    
});

});
</script>
</body>
</html>