:root {
  --bg-color: #F0F0F0;
  --heading-color: #000000;
  --text-input-bg-color: #f6f6f6;
  --text-input-color: #000000;
  --popup-content-bg-color: #fff;
  --popup-content-border: 1px solid #fff;

  --scrollbar-track-bg-color: #fff;

}

/* SemiBold (Weight 600) */
@font-face {
  font-family: 'Inter';
  src: url('/css/fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  /* Optional: improves perceived performance */
}

.list-text {
  font-family: Inter !important;
  font-feature-settings: 'liga' 1, 'calt' 1;
  /* fix for Chrome */
}

[data-theme="dark"] {
  --bg-color: #292929;
  --heading-color: #ffffff;
  --text-input-bg-color: #292a2d;
  --text-input-color: #ffffff;
  --popup-content-bg-color: #171616;
  --popup-content-border: 1px solid #252323;
  --scrollbar-track-bg-color: #444444;
}

body,
html {

  overflow-x: hidden;
  position: relative;
  background-color: var(--bg-color);
  transition: all 0.3s ease-in-out;
  height: 100dvh;
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
}

.heading {

  color: var(--heading-color);
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #1d40a3;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }

  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

.preserve-space {

  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: "Roboto", arial, sans-serif;
}

.no-preserve-space {
  white-space: normal;
}

.lds-facebook1 {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-facebook1 div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #1d40a3;
  animation: lds-facebook1 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook1 div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.lds-facebook1 div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}

.lds-facebook1 div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

@keyframes lds-facebook1 {
  0% {
    top: 8px;
    height: 64px;
  }

  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}


.main-img {
  width: 1.7em;
  margin-right: 10px;
}

.date1 {
  font-size: 0.8em
}

@media only screen and (max-width: 600px) {

  .date1 {
    font-size: 0.8em
  }
}

.copy:hover {
  color: rgb(255, 0, 221)
}

.copy:active {
  color: rgb(162, 0, 255)
}

.dots:hover {
  color: rgb(255, 0, 221)
}

.dots:active {

  color: rgb(162, 0, 255)
}

.clearbtn {
  position: absolute;
  right: -0.3em;

  top: 70%;
  opacity: 0.9;
  z-index: 99;
}

#reset {
  border-radius: 2em 1em 1em 2em;
}

svg {
  z-index: 100 !important;
}

.maincontent1 {
  box-sizing: border-box;
  min-height: 50vh;
  max-height: 63vh;
  overflow-y: auto;
  overflow-x: hidden;
  transform: translateY(-0.6em);
}


.maincontent1::-webkit-scrollbar {
  width: 7px;
}

.maincontent1::-webkit-scrollbar-track {

  background: var(--scrollbar-track-bg-color);

}

.maincontent1::-webkit-scrollbar-thumb {
  background: #979797;
  border-radius: 6px;

}

.maincontent1::-webkit-scrollbar-thumb:hover {
  background: #cbcbcb;
}



.sb1 {
  margin-left: 0.1em;
}

@media screen and (min-width: 600px) {

  .maincontent1 {
    transform: translateY(-0.5em);
    max-height: 63vh;
  }

  .sb1 {

    margin-left: 0.3em;
  }

  .copy:hover {
    color: rgb(255, 0, 221)
  }

  .copy:active {
    color: rgb(162, 0, 255)
  }

  .dots:hover {
    color: rgb(255, 0, 221)
  }

  .dots:active {

    color: rgb(162, 0, 255)
  }

  .clearbtn {
    position: absolute;
    top: 3.4em;
    right: 1em;
    opacity: 0.9;

  }


}

@media screen and (min-width: 900px) {
  .clearbtn {
    position: absolute;
    top: 3.8em;
    right: 1em;
    opacity: 0.9;

  }


  .maincontent1 {

    max-height: 70vh;
  }


}

.loader-contain {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hover:hover {
  color: aqua;
}

.hover1:hover {
  color: black
}

.main-input {
  border-radius: 1em;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  resize: none;
  border: 2px solid #909497;
  background-color: var(--text-input-bg-color);
  color: var(--text-input-color);

}

.main-input:focus {
  background-color: var(--text-input-bg-color);
  color: var(--text-input-color);
}

.sb1 {
  border-radius: 40%;
  width: 2.9em;
  height: 2.9em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.l1 {
  cursor: pointer;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
  font-size: 1.6em;
  font-weight: 500;
  letter-spacing: 1px;

}

.l1:active {
  color: gray;
}

.date1 {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
  cursor: pointer;
}

.dropdown-menu {
  user-select: none;
}

.checked,
.drop,
.copy {
  cursor: pointer;
}

.hover5:hover {
  background-color: coral !important;
}


.popup-flex {
  margin: 30px;
}

.popup-container {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform: scale(1.3);
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(21, 17, 17, 0.61);
  display: flex;
  align-items: center;

}

.popup-content {

  margin: auto;
  padding: 20px;
  background-color: var(--popup-content-bg-color);
  border: var(--popup-content-border);
  width: 60%;
}

.popup-content span {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
}

.popup-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.popup-content span:hover,
.popup-content span:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.show {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.more-articles {
  margin: 30px 30px 50px;
  font-size: 20px;
}

.more-articles a {
  margin: 0 10px;
  text-decoration: underline;
}

#popup-btn {
  position: absolute;
  right: 1.2em;
  top: 1.3em;
  color: white;
  border-radius: 1em;
  opacity: 0.7;

}


.bg-toodark {
  background-color: #4c4c4c;
}

.no-select {
  user-select: none;
}

#darkmodetext:hover {
  color: rgb(29, 159, 182) !important;

}

#darkmodetext:active {
  color: rgb(0, 217, 255) !important;

}


.is-invalid {
  border: 1px solid red;
}

.is-valid {
  border: 1px solid green;
}